<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory Card Game</title>
    <link href="../static/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <section class="memory-game"> <!--Section holds the contents of the game together-->
        <div class="page-title-container">
            <h1 class="page-title" onclick="location.href='{{ url_for('main_menu') }}'">Change Difficulty</h1>
        </div>
        <div class="memory-card" data-framework="chicken">
            <img class="front-face" src="/static/chicken.png" alt="Chicken">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <!--data-framework gives the cards identities to compare each other with-->
        <div class="memory-card" data-framework="chicken">
            <img class="front-face" src="/static/chicken.png" alt="Chicken">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="owl">
            <img class="front-face" src="/static/owl.png" alt="Owl">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="owl">
            <img class="front-face" src="/static/owl.png" alt="Owl">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="gorilla">
            <img class="front-face" src="/static/gorilla.png" alt="Gorilla">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="gorilla">
            <img class="front-face" src="/static/gorilla.png" alt="Gorilla">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="duck">
            <img class="front-face" src="/static/duck.png" alt="Duck">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="duck">
            <img class="front-face" src="/static/duck.png" alt="Duck">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="pig">
            <img class="front-face" src="/static/pig.png" alt="Pig">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="pig">
            <img class="front-face" src="/static/pig.png" alt="Pig">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="sloth">
            <img class="front-face" src="/static/sloth.png" alt="Sloth">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
        <div class="memory-card" data-framework="sloth">
            <img class="front-face" src="/static/sloth.png" alt="Sloth">
            <img class="back-face" src="/static/bear_square.png" alt="Memory Card">
        </div>
    </section>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <h1 class="win-statement">You Win!</h1>
            <div class="modal-options">
                <button type="button" class="block" onclick="location.href='{{ url_for('main_menu') }}'">Change Difficulty</button>
                <button type="button" class="block" onclick="window.location.reload()">Replay</button>
            </div>
        </div>
    </div>

    <script src="../static/main.js"></script>
</body>
</html>